<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="fullName">Full Name:</label>
          <input type="text" name="fullname" id="fullname" ngModel class="form-control" required>
        </div>

        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" name='email' class="form-control" ngModel id="email" ngModel>
        </div>

        <div class="form-group">
          <label for="pwd">Password:</label>
          <input  name='pwd' type="password" class="form-control" ngModel id="pwd">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      
      </form>
      
    </div>
  </div>
</div>

